body {
    background-color: #f7f7f7;
    margin: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    margin-bottom: 20px;
}

h1 {
    display: inline-flex;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

input {
    background-color: #fefefe;
    border: none;
    font-size: 16px;
    height: 30px;
    margin: 10px 20px;
    width: calc(100% - 40px);
}

main {
    background-color: #fefefe;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #999;
    padding-bottom: 20px;
}

p {
    margin: 0;
    padding: 20px;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

thead {
    font-weight: bold;
}

tbody > tr:hover {
    background-color: #f0f0f0;
}

td {
    padding: 10px 20px;
}

.download {
    text-align: center;
}

.download img {
    width: 24px;
    cursor: pointer;
}

footer {
    color: #666;
    font-size: 10px;
    margin-top: 30px;
    text-align: right;
}

footer > a {
  color: #666;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
    header {
        display: block;
    }

    main {
        overflow-x: auto;
    }

    input {
        text-align: center;
    }
}
