<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IGGS Preisliste</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="res/css/normalize.css">
    <link rel="stylesheet" href="res/css/main.css">
    <link rel="stylesheet" href="res/css/fonts.css">

    <script src="res/js/vue.min.js"></script>
  </head>

  <body>

    <header>
      <h1>IGGS Preisliste</h1>
    </header>

    <main id="app">
      <input v-model="search" placeholder="Suche...">

      <table>
        <thead>
          <tr v-show="!count.startsWith('0')">
            <td>Produkt</td>
            <td>Einheit</td>
            <td>Preis</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="snack in snacks" v-if="matches(snack)">
            <td>{{ snack.name }}</td>
            <td>{{ snack.unit }}</td>
            <td>{{ snack.price }}€</td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer>
      IGGS (Interessensgemeinschaft Geheimes Schließfach) – Build with ♥, <a href="https://vuejs.org">Vue.js</a> and <a href="https//gitlab.com/mmk2410/iggs-price-list">GitLab</a> by <a href="https://mmk2410.org">Marcel Kapfer</a> – MIT License
    </footer>

    <script src="./res/js/app.js"></script>

  </body>
</html>
